In [1]:
import sys
import pandas as pd
import numpy as np

In [2]:
sys.path.append('./src')

In [3]:
dating_df = pd.read_csv('/aiffel/aiffel/260112_unp_day4/new_dating.csv')

In [4]:
dating_df.head()

,gender,age,age_o,race,race_o,importance_same_race,importance_same_religion,pref_o_attractive,pref_o_sincere,pref_o_intelligence,...,sincere_partner,intelligence_partner,funny_partner,ambition_partner,shared_interests_partner,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,like,guess_prob_liked
0,female,21.0,27.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,35.0,20.0,20.0,...,9.0,7.0,7.0,6.0,5.0,0.14,3.0,2.0,7.0,6.0
1,female,21.0,22.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,60.0,0.0,0.0,...,8.0,7.0,8.0,5.0,6.0,0.54,3.0,2.0,7.0,5.0
2,female,21.0,22.0,Asian/PacificIslander/Asian-American,Asian/PacificIslander/Asian-American,2.0,4.0,19.0,18.0,19.0,...,8.0,9.0,8.0,5.0,7.0,0.16,3.0,2.0,7.0,NaN
3,female,21.0,23.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,30.0,5.0,15.0,...,6.0,8.0,7.0,6.0,8.0,0.61,3.0,2.0,7.0,6.0
4,female,21.0,24.0,Asian/PacificIslander/Asian-American,Latino/HispanicAmerican,2.0,4.0,30.0,10.0,20.0,...,6.0,7.0,7.0,6.0,6.0,0.21,3.0,2.0,6.0,6.0

In [5]:
from col_rename import col_rename

In [6]:
dating_df = col_rename(dating_df)

In [7]:
from missing_func import missing_func

In [8]:
dating_df = missing_func(dating_df)

In [9]:
from outlier_func import outlier_func

In [10]:
dating_df = outlier_func(dating_df)

In [11]:
from imp_func import imp_func

In [12]:
dating_df = imp_func(dating_df)

In [13]:
from age_gap_func import age_gap_func

In [14]:
dating_df = age_gap_func(dating_df)

In [15]:
from race_func import race_func

In [16]:
dating_df = race_func(dating_df)

In [17]:
from rating_func import rating_func

In [18]:
dating_df = rating_func(dating_df)

In [19]:
from selone_func import selone_func

In [20]:
dating_df = selone_func(dating_df)

In [21]:
sys.path.append('./src')

In [22]:
dating_df = pd.read_csv('/aiffel/aiffel/260112_unp_day4/new_dating.csv')

In [23]:
dating_df.head()

,gender,age,age_o,race,race_o,importance_same_race,importance_same_religion,pref_o_attractive,pref_o_sincere,pref_o_intelligence,...,sincere_partner,intelligence_partner,funny_partner,ambition_partner,shared_interests_partner,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,like,guess_prob_liked
0,female,21.0,27.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,35.0,20.0,20.0,...,9.0,7.0,7.0,6.0,5.0,0.14,3.0,2.0,7.0,6.0
1,female,21.0,22.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,60.0,0.0,0.0,...,8.0,7.0,8.0,5.0,6.0,0.54,3.0,2.0,7.0,5.0
2,female,21.0,22.0,Asian/PacificIslander/Asian-American,Asian/PacificIslander/Asian-American,2.0,4.0,19.0,18.0,19.0,...,8.0,9.0,8.0,5.0,7.0,0.16,3.0,2.0,7.0,NaN
3,female,21.0,23.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,30.0,5.0,15.0,...,6.0,8.0,7.0,6.0,8.0,0.61,3.0,2.0,7.0,6.0
4,female,21.0,24.0,Asian/PacificIslander/Asian-American,Latino/HispanicAmerican,2.0,4.0,30.0,10.0,20.0,...,6.0,7.0,7.0,6.0,6.0,0.21,3.0,2.0,6.0,6.0

In [24]:
from pre_func import pre_func

In [25]:
pre_func(dating_df)

,gender,age,race,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,like,guess_prob_liked,age_gap,age_gap_dir,...,o_rating_shared_interests,i_rating_attractive,i_rating_sincere,i_rating_intelligence,i_rating_funny,i_rating_ambitious,i_rating_shared_interests,i_rating_total,o_rating_total,rating_mean
0,female,21.0,Asian/PacificIslander/Asian-American,0.14,3.0,2.0,7.0,6.0,6.0,positive,...,30.000000,90.0,180.0,140.0,105.0,90.0,75.0,113.333333,144.000000,126.839378
1,female,21.0,Asian/PacificIslander/Asian-American,0.54,3.0,2.0,7.0,5.0,1.0,positive,...,-99.000000,105.0,160.0,140.0,120.0,75.0,90.0,115.000000,350.000000,173.118280
2,female,21.0,Asian/PacificIslander/Asian-American,0.16,3.0,2.0,7.0,-99.0,1.0,positive,...,120.000000,75.0,160.0,180.0,120.0,75.0,105.0,119.166667,166.666667,138.969874
3,female,21.0,Asian/PacificIslander/Asian-American,0.61,3.0,2.0,7.0,6.0,2.0,positive,...,40.000000,105.0,120.0,160.0,105.0,90.0,120.0,116.666667,131.666667,123.713647
4,female,21.0,Asian/PacificIslander/Asian-American,0.21,3.0,2.0,6.0,6.0,3.0,positive,...,140.000000,75.0,120.0,140.0,105.0,90.0,90.0,103.333333,130.000000,115.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8372,male,25.0,European/Caucasian-American,0.28,10.0,-99.0,4.0,4.0,1.0,positive,...,60.000000,490.0,-99.0,75.0,75.0,-99.0,-99.0,213.333333,121.666667,154.958541
8373,male,25.0,European/Caucasian-American,0.64,10.0,-99.0,2.0,5.0,1.0,negative,...,78.947368,210.0,-99.0,75.0,75.0,-99.0,-99.0,120.000000,72.807018,90.627843
8374,male,25.0,European/Caucasian-American,0.71,10.0,-99.0,4.0,4.0,1.0,positive,...,10.000000,280.0,-99.0,120.0,60.0,-99.0,-99.0,153.333333,87.500000,111.418685
8376,male,25.0,European/Caucasian-American,0.62,10.0,-99.0,5.0,5.0,3.0,positive,...,120.000000,280.0,-99.0,75.0,60.0,-99.0,-99.0,138.333333,91.666667,110.265700
8377,male,25.0,European/Caucasian-American,0.01,10.0,-99.0,4.0,5.0,3.0,positive,...,210.000000,210.0,-99.0,90.0,60.0,-99.0,-99.0,120.000000,123.333333,121.643836